<!-- page specific css and js -->
<!-- CSS -->
<%= stylesheet_link_tag "vrp" %>
<!-- JS -->
<%= javascript_include_tag 'vrp_solve'%>

<!-- LOADING MODAL -->
<div class="modal fade" id="loadingModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content vrptransparentModal">
            <div class="modal-body">
                <div class="loader">Loading...</div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="row vrp-map">
        <div class="col-12 col-md-12 vrp-map-container">
            <div id="vrp-mapview"></div>
        </div>
    </div>
    <div class="row vrp-results">
        <div class="col-12 col-md-12 vrp-results-container">
            <div class="title-header heavy-rain-gradient">
                <label>Route Suggestions</label>
                <div class="collapse-buttons">
                    <button class="btn btn-primary expand-btn" onclick="expand()"><i class="fa fa-angle-up"></i></button>
                    <button class="btn btn-primary collapse-btn" disabled onclick="collapse()"><i class="fa fa-angle-down"></i></button>
                </div>
            </div>
            <div class="results-header">
                <div class="result-left"> Vehicle Name</div>
                <div class="result-right">
                    <div class="time-table-container">
                        <div class="time-table-label">8 AM</div>
                        <div class="time-table-label">9 AM</div>
                        <div class="time-table-label">10 AM</div>
                        <div class="time-table-label">11 AM</div>
                        <div class="time-table-label">12 NN</div>
                        <div class="time-table-label">1 PM</div>
                        <div class="time-table-label">2 PM</div>
                        <div class="time-table-label">3 PM</div>
                        <div class="time-table-label">4 PM</div>
                        <div class="time-table-label">5 PM</div>
                    </div>
                </div>
            </div>
            <div class="results-container"> </div>
        </div>
    </div>
</main>