<!-- Mask & flexbox options-->
<div class="mask rgba-gradient d-flex justify-content-center align-items-center">
	<!-- Content -->
	<div class="container" style="color: white;">

		<h1>Dashboard#about</h1>
		<p>Find me in app/views/dashboard/about.html.erb</p>
	</div>
    <!-- Content -->
</div>
<!-- Mask & flexbox options-->