<!-- Mask & flexbox options-->
<div class="mask rgba-gradient d-flex justify-content-center align-items-center">
	<!-- Content -->
	<div class="container" style="color: white;">

		<h1>Dashboard#research</h1>
		<p>Find me in app/views/dashboard/research.html.erb</p>

	</div>
    <!-- Content -->
</div>
<!-- Mask & flexbox options-->
